<h3>Device Info</h3>
<div class="device-info-container well">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <label class="">Device Name:</label>{{input class='form-control' placeholder='Device Name' value=model.value.name size=40}}
        </div>
    </div>
</div>