<div class="input-group drp-input-group">
    <span class="calendar-button input-group-addon"><i class="fa fa-calendar"></i></span>
    {{input class='dtrp-input form-control input-sm' value=dateRange}}
</div>