<div class="alert alert-element {{alertClass}}">
    {{#if dismissable}}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            <span class="fa fa-times-circle-o"></span>
        </button>
    {{/if}}
    <span class='alert-icon {{alertIcon}}'></span>&nbsp;
    <span class="alert-title">{{title}}</span>&nbsp;&nbsp;
    <span class="alert-message">{{message}}</span>
</div>