<div class='alert alert-dismissable {{getAlertType}}'>
    <button type="button" class="close" data-dismiss="alert">x</button>
    <i class='fa hero-icon {{getIconClass}}'>&nbsp;</i>
    <h3 class="hero-title">{{getTitle}}</h3>
    <p>{{{message}}}</p>
</div>