
<div id="please-wait-container" class="{{if isMobile 'please-wait-mobile'}}">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="well">
                <h2 class="please-wait-message">{{message}}</h2>
                <div class="please-wait-timer-container">
                    <div class="please-wait-timer"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>