<div class="input-group spinner">
    {{input type='text' class='form-control' value=view.value}}
    <div class="input-group-btn-vertical">
        <button class="btn btn-default"><i class="fa fa-caret-up"></i></button>
        <button class="btn btn-default"><i class="fa fa-caret-down"></i></button>
    </div>
</div>