<div class="site-navbar navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Miner App</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="">{{#link-to 'dashboard' class='navbar-link'}}Dashboard{{/link-to}}</li>
            <li class="">{{#link-to 'settings' class='navbar-link'}}Settings{{/link-to}}</li>
        </ul>
        {{render 'elements/header-login' controller='elements/header-login'}}
    </div>
</div>